/* Updated CSS with correct class selectors */

/* Existing CSS rules with errors */
.day { /* some rules */ }
.day:hover { /* some rules */ }
.day.today { /* some rules */ }
.day.selected { /* some rules */ }

/* Corrected CSS rules */

.day { /* some rules */ }
.day:hover { /* some rules */ }
.day.today { /* some rules */ }
.day.selected { /* some rules */ }
